VITE_MAPBOX_TOKEN=pk.your_mapbox_token_here
VITE_USER_REGISTRY_URL=https://raw.githubusercontent.com/ginnox1/rigrow-data/main/user-data/user_registry.json
VITE_AGENT_REGISTRY_URL=https://raw.githubusercontent.com/ginnox1/rigrow-data/main/user-data/agent_registry.json
VITE_USER_CONFIG_BASE_URL=https://raw.githubusercontent.com/ginnox1/rigrow-data/main/user-data/
VITE_CRM_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbxafSgRkHCZ4eKRsIlb8yjIiK97j-SCiE0LXirYioeQ_JniMqkdYHYjglm4bb875lY/exec
VITE_APK_DOWNLOAD_URL=https://rigrow.quanomics.com/assets/app/Rigrow-Android-App.apk
